<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center; font-style: normal; color: #000000; font-size: 30px; font-weight: bold;">
                Home</h3>
            <h6 style="text-align: center; font-size: 18px;">Player, Friend List, Group Activities, Achiever Details
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row" >
                <div class="col-md-6" style="height: 250px;">
                    <app-personalinfo></app-personalinfo>
                </div>
                <div class="col-md-6">
                    <app-friends></app-friends>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
        
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <app-groupactivities></app-groupactivities>
        </div>
    </div>
</div>

