<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #aea0c7;">
    <span>
      <button mat-button routerLink="/" style="color:black; font-size: large;">Gamers</button>
      <button mat-button routerLink="/"><mat-icon style="color:black;   font-size: 36px; width: 40px; height: 40px;">sports_kabaddi</mat-icon></button>
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      
    </div>
  </mat-toolbar>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h3 style="text-align: center; font-style: normal; color: #000000; font-size: 30px; font-weight: bold;">
            Profile Creation</h3>
        <h6 style="text-align: center; font-size: 18px;">Fill out this form to Create a profile</h6>
    </div>
</div>
<app-profile></app-profile>